.wrapper {
  position: relative;
  text-align: center;
  padding: 24px;
  height: 100%;
}

.title {
  font-weight: bold;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > div {
    width: 450px;
    margin-block: 16px;
  }
  .submitBtn {
    display: block;
    margin-top: 24px;
    margin-inline: auto;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.chartWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
